@import './reset.css';

@font-face {
  font-family: atkinson;
  font-display: swap;
  src: url(../fonts/atkinson.ttf);
}

:root {
  --body-color: #35353E;
  --border-color: #EEEEEE;
  --bg-color: #2A2A40;
  --text-color: #EEEEEE;
  --primary-color: #202035;
  --hover-color: #202035;
}

body {
  font-family:atkinson,sans-serif;
}

#app {
  background-color: var(--body-color);
  color: var(--text-color);
  font-weight: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hidden { display: none !important; }

